<div class="col-md-3">
    <div class="card mb-4">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {% block card-title %}

                {% endblock %}
            </h5>
            <p class="card-text">
                {% block card-text %}

                {% endblock %}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>