{% extends 'base.html' %}

{% block title %}
Rezept-Info
{% endblock %}

{% block content %}

<style>

    #container{
        margin-top: 5%;
        justify-content: center;
        text-align: center;
    }
</style>

<h1 class="text-center">Rezept-Datenbank</h1>


    <div id="container">

    <div class="jumbotron">
        <h1 class="display-4">Img: </h1>
        <p class="lead">Title: </p>
        <hr class="my-4">
        <p>Description: </p>
        <p>Creator: </p>
      </div>
</div>



{% endblock %}